/cache/
/logs/
/config/
/libraries/
/versions/
/world/
/world_fortuity/
/world_nether/
/world_the_end/
banned-ips.json
banned-players.json
bukkit.yml
commands.yml
eula.txt
help.yml
ops.json
permissions.yml
spigot.yml
usercache.json
version_history.json
whitelist.json